<header>
   <div class="header-container">
      <div class="logo">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
            <path d="M2 4v16c4-2 8-2 12 0V4C10 2 6 2 2 4Zm20 0v16c-4-2-8-2-12 0V4c4-2 8-2 12 0Z"/>
        </svg>                  
        <h1>Rincon<span  id="logo-title">Sabio</span></h1> 
       </div>
        <div>
            <ul class="menu">
                <li><a href="">Evento</a></li>
                <li><a href="">Libreria</a></li>
                <li><a href="">Mi cuenta</a></li>
                <li><a href="">Mis favoritos</a></li>
                <li><a href=""><i class="fa-solid fa-bag-shopping"></i></a></li>
            </ul>
        </div>
      </div>
    

</header>
